
<img src="/images/rat.gif" id="rat" alt="edit" />
<h1>restaurant.violations<h1>
<h2>Find Yourself a Dirty Restaurant! Treat YO SELF!</h2>

<p id="notice"><%= notice %></p>
<div class="map-form">
<form action="/venues" method='GET' id='address-form'>
  <h3>SEARCH FROM THIS LOCATION:</h3>
  <input type="text" value="902 Broadway 10010" name="origin" id="address" ><br>
  <input type="submit">
</form></br>
</div>


<div id="map-canvas" style="width: 100%; height: 90%"></div>