
<img src="/images/rat.gif" id="rat" alt="edit" />
<h1>restaurant.violations<h1>
<h2>find a dirty restaurant: treat yo self!</h2>

<p id="notice"><%= notice %></p>

<form action="/venues" method='GET' id='address-form'>
  <h3>search from this location:</h3>

  <input type="text" value="902 Broadway 10010" name="origin" id="address" ><br>
  <input type="submit" id="submit-button">
</form></br>


<div id="error">
	<h1>"Please go fuck thyself."</br> - richard III</h1>
	<div id="close-error">click me and i shall close this here div</div>
</div>


