
<h1>restaurant.violations<h1>
<h2>Find Yourself a Dirty Restaurant!</h2>
<h2>TREAT YO SELF</h2>


<div class="map-form">
<form action="/venues" method='GET' id='address-form'>
  <h3>SEARCH FROM THIS LOCATION:</h3>
  <input type="text" value="902 Broadway 10010" name="origin" id="address" ><br>
  <input type="submit">
</form>
</div>


<div id="map-canvas" style="width: 50%; height: 100%"></div>