
#map-canvas { 

 	height: 470px;
 	width: 1300px;
 	display: block;
 	margin-top: 15px;
 	margin-left: auto;
  margin-right: auto;
 	margin-bottom: 10px;
 	padding: 20px;
 	border-radius: 35px;
 
 }

html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#footer-mouse {
	height: 50px;
	width: auto;
	margin-left: 100px;
}

 
h1 {
    font-family:'Cabin Sketch', cursive;
    font-weight: 500;
    font-size: 70px;
    margin-left: 60px;
    margin: 10px;
    margin-bottom: 5px;
  }

h2 {
	font-size: 30px;
	font-family: 'Cabin Sketch', cursive;
	margin-top:5px;
	margin-bottom: 10px;
}

h3 {
	margin-bottom: 0;
}

form#address-form {
	float: left;
}
input#address {
 	width: 400px;
 	height: 24px;
 	border-radius: 3px;
 	font-size: 18px
 }


#rat {
	width: 30%;
	height: auto;
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

#error {
	position: absolute;
	width: 500px;
	height: 400px;
	top: 34%;
	left: 33%;
	background-color: black;
	color: white;
	border-radius: 10px;
	text-align: center;
	display: none;
	z-index: 1;
}

#error h1{
	font-size: 60px;
	margin-top: 38px;
}

#close-error {
	margin: 0 auto;
	margin-top: 40px;
	width: 80%;
	padding: 5px;
	border: 3px solid white;
	font-family: 'Cabin Sketch', cursive;;
}

#close-error:hover{
	background-color: white;
	color: black;
}

#violation-div {
	position: absolute;
	width: 1325px;
	height: 510px;
	background-color: black;
	color: white;
	font-size: 14px;
	padding: 8px;
	border-radius: 35px;
	margin-left: 40px;
	display: block;
 	z-index: 1;
	display: none;
	margin-top: 27px;
}

#close-violation {
	margin: 0 auto;
	margin-top: 40px;
	width: 80%;
	padding: 5px;
	border: 3px solid white;
	font-family: 'Cabin Sketch', cursive;
	color: white;
}

#close-violation:hover{
	background-color: white;
	color: black;
}

.violationsUl {
	font-family: 'Cabin Sketch';
	font-size: 30px;
}

.violationsLi  {
	color: white;
	text-decoration: none;
	font-size: 14px;
	list-style-type: none;
}

ul {
	color: white;
	text-decoration: none;
}


p {
	display: inline-block;
	margin-left: 57px;
	margin-right: 57px;
	margin-bottom: 30px;
	font-family: 'Spinnaker';

}

input#submit-button {
  display: inline;
  height: 30px;
  width: 100px;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
  padding-top: 4px;
  margin-left: 20px;
  margin-bottom: 10px;
}


