
@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('3Dumb-webfont.woff') format('woff'),
         url('3Dumb-webfont.ttf') format('truetype'),
         url('3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#map-canvas { 
 	height: 90%;
 	width: 90%;
 	display: block;
 	margin-left: auto;
 	margin-right: auto; 
 	margin-bottom: 70px;
 	padding: 20px;
 	border-radius: 35px;
 }

html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#footer-mouse {
	height: 50px;
	width: auto;
	margin-left: 100px;
}
 
h1 {
    font-family: '3dumbregular';
    font-size: 70px;
    margin-left: 20px;
    margin: 10px;
    margin-bottom: 5px;
    /*display: inline-block;
    float: left;
    clear: right;*/
  }

h2 {
	font-size: 30px;
	font-family: 'Spinnaker';
	margin-top:5px;
}

h3 {
	font-size: 24px;
	font-family: 'Spinnaker';
	display: inline;
}

 input#address {
 	width: 400px;
 	height: 24px;
 	border-radius: 3px;
 	font-size: 18px
 }

input#submit-button {
	display: inline;
	height: 200px;
  width: 100px;
  cursor: pointer;
  }


#rat {
	width: 30%;
	height: auto;
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

#error {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 15%;
	left: 30%;
	background-color: black;
	color: white;
	border-radius: 10px;
	text-align: center;
	display: none;
	z-index: 1;
}

#close-error {
	margin: 0 auto;
	width: 80%;
	padding: 5px;
	border: 3px solid white;
	font-family: 'Spinnaker';
}

.error h3 {
	font-family: 'Spinnaker';
	color: white;
}

#close-error:hover{
	background-color: white;
	color: black;
}

#violation-div {
	position: absolute;
	width: 100%;
	height: 700px;

	background-color: black;
	color: white;

	text-align: center;
	z-index: 1;
	display: none;
}

.violationsUl {
	color: white;
}
