<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="styles.css" type="text/css" charset="utf-8" />
 
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>
	<div id="map-canvas"></div>
</body>
</html>
